<ion-view title="Home">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content has-header="true">
    <ion-list>

      <ion-item ng-repeat="item in items" 
                item="item"
                href="#/app/home/{{item.id}}">
        {{ item.title }}
      </ion-item>
  </ion-content>
  <ion-nav-buttons side="right">

   <button class="button button-clear" ng-click="addItem()">
       New
   </button>
  </ion-nav-buttons>
</ion-view>
